<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
<link href="/css/main6.css" rel="stylesheet">
</head>
<body>
  <main>
    <section class="container">      
    <header>
      <a href="/"><img src="/img/come-along-logo-1.svg"></a>
    </header>
      {{ content | safe }}
    </section>
    <footer>
      <hr>
      <div class="footer">
      <p>
        Made with ❤️ in Santa Cruz, CA | &copy
        <script>
           document.write(new Date().getFullYear());
        </script> 
     Matt O'Leary | <a href="https://www.buymeacoffee.com/bBrGCiohd">Buy me a coffee</a> 
    </p>
  </div>
    </footer>
</main> 
</body>
</html>